<div class="container-fluid">
  <div class="row">
    <!-- Left Side Image -->
    <div class="col-lg-6 col-md-6 d-none d-md-flex align-items-center justify-content-center image-container">
      <img src="https://static.vecteezy.com/system/resources/previews/047/782/846/non_2x/an-illustration-of-a-customer-service-representative-using-a-laptop-to-communicate-with-clients-online-the-representative-is-smiling-and-appears-to-be-helping-the-clients-free-vector.jpg" alt="Image" class="img-fluid" />
    </div>

    <!-- Right Side Form -->
    <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center justify-content-center">
      <div class="form-container">
        <h2>Login to Your Account</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              id="username"
              formControlName="username"
              type="text"
              class="form-control input-field"
              placeholder="Enter username"
            />
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              id="password"
              formControlName="password"
              type="password"
              class="form-control input-field"
              placeholder="Enter password"
            />
          </div>

          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>

          <button type="submit" class="btn-login" [disabled]="loginForm.invalid">
            Login
          </button>
        </form>

        <div class="register-message">
          Don't have an account?
          <button class="btn-small-register" (click)="navigateToRegister()">Register</button>
        </div>
      </div>
    </div>
  </div>
</div>
